body{
    margin:0;
    display: flex;
    justify-content:center;
    align-items:center;
    height:100vh;
    background-color: rgb(215, 72, 72);
}

#calculator{
    font-family: Arial, sans-serif;
    background-color: rgb(50, 46, 46);
    border-radius:30px;
    max-width:380px;
    overflow:hidden;

}
#display{
    width:100%;
    padding:15px;
    font-size:2.5rem;
    text-align: left;
    border:none;
    background-color: rgb(61, 154, 194);
    color: rgb(253, 255, 253)
}
/* Trong trang html se thay id="keys" chua tat ca cac button */
#keys{
    display:grid;
    grid-template-columns: repeat(4, 1fr);
    /* Khoang cach giua cac dong*/
    gap: 10px;
    /* Khoang cach xung quanh cac phim bam*/
    padding: 20px;
}
button{
    width:70px;
    height:70px;
    border-radius: 90px;
    border: none;
    background-color: rgb(139, 145, 140);
    color: white;
    font-size: 2rem;
    font-weight: bold;
    cursor:pointer;
}

/*Khi di chuot qua se co hieu ung (mau sang/toi hon)*/
button:hover{
    background-color: rgb(161, 163, 161);
}
button:active{
    background-color: rgb(174, 176, 174);
}
.operator-btn{
    background-color: rgb(220, 204, 28);
}
.operator-btn:hover{
    background-color: rgb(240, 222, 29);
}
.operator-btn:active{ 
    background-color: rgb(255, 241, 82);
}
.operator-del{
    background-color: rgb(150, 7, 7);
    font-size: 1.5rem;
}
.operator-del:hover{
    background-color: rgb(180, 25, 25);
}
.operator-del:active{
    background-color: rgb(199, 45, 45);
}
.operator-eq{
    background-color: rgb(60, 6, 179);
}
.operator-eq:hover{
    background-color: rgb(73, 17, 196);
}
.operator-eq:active{
    background-color: rgb(83, 25, 207);
}
